name: Build Targets and Run All Tests

# Here I use action's triggers 'push' and 'pull_request'.
# The strategy is the following: this action will be
# triggered on any push to 'main' branch and any pull
# request to any branch. Thus we avoid duplicate work-
# flows.
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      # Live debug failures using tmate by toggling input parameter
      # 'debug_enabled':
      # https://github.com/mxschmitt/action-tmate#manually-triggered-debug
      # When manually running this workflow:
      # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
      debug_enabled:
        description: 'Enable tmate debugging'
        type: boolean
        default: false

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          # TODO(arc1): add support for macOS and Windows.
          # - os: macos-latest
          # - os: windows-latest

    steps:
      # Checkout the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2

      - name: 01-homework using GNU
        run: |
          mkdir -p build && cd build && \
          cmake .. && \
          cmake --build . && \
          cmake --install . && \
          ctest --test-dir 01-homework-hello/01-1-simple-hello && \
          ctest --test-dir 01-homework-hello/01-2-hello-libs/hello-bin-with-static-and-shared

      - name: 01-homework using clang
        run: |
          rm -r build && mkdir build && cd build && \
          CXX=clang++ cmake .. && \
          CXX=clang++ cmake --build . && \
          cmake --install . && \
          ctest --test-dir 01-homework-hello/01-1-simple-hello && \
          ctest --test-dir 01-homework-hello/01-2-hello-libs/hello-bin-with-static-and-shared

      - name: Debug using tmate (if failure)
        uses: mxschmitt/action-tmate@v3
        # Optionally enable tmate debugging if the workflow was manually-triggered
        # with `debug_enabled` set to `true`.
        # https://github.com/mxschmitt/action-tmate#manually-triggered-debug
        if: ${{ failure() && github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
    